
/// colors

$black: #000000;
$white: #ffffff;
$title: #1f1f1f;
$accent: #0ad9c6;
$border: #c9ccd4;
$nav-mob: #48494d;
$bg-nav-mob: #f6f6f6;
$bg-types: #f6f7f9;
$bg-video: #131314;
$error: #cc0000;

/// font

$font-main: "Open Sans", "Arial", sans-serif;

/// views

$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;
